@charset "utf-8";
/* CSS Document */

$white:#ffffff;
$black:#000000;
$blue:#283261;
$lightblue:#e0e2ee;
$red:#c11414;
$orange:#ffc222;
$gray:#333333;
$lightgray:#454545;
$lightgray2:#666666;
$yellow:#ffe191;
