@charset "UTF-8";
/* CSS Document */

//====================================================================================== header ▼
header {
  padding: 16px 0;
  height: 37px;
    @media screen and (min-width: $break-large) {
      padding: 21px 0;
      margin: 0 auto;
      // min-height: 30px;
      height: 50px;
      border-bottom: solid 1px #cacccd;
    }
    img {
      width: 150px;
      padding-top: 0px;
        @media screen and (min-width: $break-large) {
          margin: 0;
        }
    }
}

.sticky-wrapper {
  background: $white;
  // padding: 16px 0;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  overflow: hidden;
  border-bottom: solid 1px #cacccd;
    @media screen and (min-width: $break-large) {
      padding: 12px 0;
      width: 800px;
      margin: 0 auto;
    } 
} 

#mobile-nav {
  display: block;
  float: right;
  // margin-right: 20px;
  // margin-top: 3px;
  padding: 17px;
}

.menu-nav {
  display: block;
  background: url(../img/icon_menu.png) 0 0 no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  margin-top:4px;
  /*margin: 22px 0 0 0;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 250ms ease-out 0s;
  -moz-transition: -moz-transform 250ms ease-out 0s;
  -o-transition: -o-transform 250ms ease-out 0s;
  transition: transform 250ms ease-out 0s;
}

.change {
  background: url(../img/icon_close.png) 0 0 no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  display: block;
}

.drawer {
  display:none;
  // position: relative;
  // top: 0px;
  // left: 0;  
  // -webkit-transform: translate3d(0, -400px, 0);
  // -moz-transform: translate3d(0, -400px, 0);
  // -o-transform: translate3d(0, -400px, 0);
  // transform: translate3d(0, -400px, 0);
  -webkit-transition: -webkit-transform 0.25s linear;
  -moz-transition: -moz-transform 0.25s linear;
  -o-transition: -o-transform 0.25s linear;
  transition: transform 0.25s linear;
}

.drawer a:hover {
  color: #cccccc;
  background-color: #333333;
}

.active {
  display: block;
  // position: relative;
  // top: 50px;
  // left: 0;
  // -webkit-transform: translate3d(0, 53px, 0) !important;
  // -moz-transform: translate3d(0, 53px, 0) !important;
  // -o-transform: translate3d(0, 53px, 0) !important;
  // transform: translate3d(0, 53px, 0) !important;
  // -webkit-transition: -webkit-transform 0.25s linear;
  // -moz-transition: -moz-transform 0.25s linear;
  // -o-transition: -o-transform 0.25s linear;
  // transition: transform 0.25s linear;
}



nav {
  @media screen and (min-width: $break-large) {
  margin-top:16px;
  }
  ul {
    list-style: none;
    overflow: hidden ;
    li {
      width: 100%;
      float: left;
      @media screen and (min-width: $break-large) {
        color: #000;
        width: auto;
        margin-left:50px;
        float: left;
      } 
      a {
        display: block;
        text-decoration: none;
        background: black;
        color: $white;
        font-size: 1.2em;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        font-family: 'Josefin Sans', 'Josefin-Sans' sans-serif;
        text-align: center;
        @media screen and (min-width: $break-large) {
          background: white;
          color: $black;
          margin: 5px 0 0 0;
          padding: 0;
          text-align: right;
          font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
        } 
      }
    }
  }
}

.clk_head_top {
  @include fs32;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 5%;
  a {
    display: block;
    padding:16px 0;
    @media screen and (min-width: $break-large) {
      padding: 0;
      margin: 16px 0;
    }     
  }
    @media screen and (min-width: $break-large) {
      margin: 0;
    } 
}

.spNone {
  display: none;
    @media screen and (min-width: $break-large) {
      display: block;
      color: $lightgray;
    } 
}
@media screen and (min-width: $break-large) {
  .right-align {
    float: right;
    height: 0;
  }

  .right-align a:hover {
    opacity: 0.5;
  }

  .right-align a:hover .font-portfolio {
    color: #ff4a2c;
    height: 0;
  }

  .right-align a:hover .font-memo {
    color: #45c01b;
    height: 0;
  }

  .right-align a:hover .font-about {
    color: #4568b8;
    height: 0;
  }

  .right-align a:hover .font-contact {
    color: #edc42f;
    height: 0;
  }

  .drawer, .pcNone {
    display: none;
  }
}

//====================================================================================== header ▲


//====================================================================================== footer ▼

footer {
  margin-top: $margin100;
  padding: 20px 0;
  color: $white;
  text-align: center;
  background-color: $gray;
  position: absolute;
  bottom: 0;
  width: 100%;
}


//====================================================================================== footer ▲

//====================================================================================== parts ▼

// .height-small{
//   line-height: 24px;
// }



// padding系
.padding-t30{
  padding-top:30px;
}

.margin-sm-t30{
  margin-top:30px;
}

// margin系

.margin-t20{
  margin-top:20px;
}

.about-title{
	margin:20px 0;
}

.margin-b4{
  margin-bottom:4px;
}

.margin-b10{
  margin-bottom:10px;
}


.margin-b40{
  margin-bottom:40px;
}

.margin-sm-b40{
  margin-bottom:40px;
}

.margin-about-title{
  margin-top:20px;
  @media screen and (min-width: $break-large) {
    margin-top:30px;
  }
}

@media screen and (min-width: $break-large) {

.margin-lg-b40{
  margin-bottom:10px;
}

.margin-b45{
  margin-bottom:45px;
}

}


// border系

.border-t1{
  border-top: 1px dotted #cccccc;  
}

.border-b1{
  border-bottom: 1px dotted #cccccc;  
}

.border-b3{
  border-bottom: 3px double #cccccc;
}

.border-l1{
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}





// parts系

.box {
    margin-top:40px;
      @media screen and (min-width: $break-large) {
        margin-top:60px;
      }
}


// font系

.f-red{
  color:$red;
}


.f-bold {
  font-weight:bold;
}


.t-center{
  text-align: center;
}


//====================================================================================== parts ▲


//====================================================================================== contents ▼

#contents {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 150px;
    @media screen and (min-width: $break-large) {
      width: 800px;
    }
    .element:last-child {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .element-sec:last-child {
      padding-bottom: 0px;
    }
}

.element {
  font-family: verdana, Helvetica, verdana, sans-serif;
  font-weight: normal;
  padding-bottom: 40px;
  margin-bottom: 34px;
}

.element-sec {
  padding-bottom: 30px;
    @media screen and (min-width: $break-large) {
      padding-bottom:40px;
    }
}


//====================================================================================== contents ▲


//====================================================================================== title ▼

.category-title {
  @include fs28;
  color: #383838;
  margin:28px 0 23px;
  text-align: center;
  font-family: 'Josefin Sans', 'Josefin-Sans' sans-serif;
    .category-title-explain {
       @include fs18;
    // color: #cccccc;
  }
    @media screen and (min-width: $break-large) {
      font-size: 48px;
      font-weight: normal;
      margin-top: 60px;
      margin-bottom: 60px;
      color: $black;
      font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
    } 
}




.memo-details-title {
  font-weight: bold;
  /*margin-left:15px;*/
  @include fs22;
  margin-bottom: 0;
  // font-family: Helvetica, verdana, sans-serif;
  color: $lightgray;
  margin-bottom: 8px;
    @media screen and (min-width: $break-large) {
      font-size: 30px;
      font-weight: normal;
      margin-bottom: 18px;
    } 
}

.sec-title {
  @include fs20;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Arial;
  font-weight: bold;
  color: $gray;
  margin-bottom:4px;
    @media screen and (min-width: $break-large) {
      @include fs24;
      font-weight: normal;
      margin: 10px 0;
      margin-bottom: 20px;
    } 
}

.div-title {
  @include fs18;
  margin-bottom: 15px;
    @media screen and (min-width: $break-large) {
      @include fs20;
      font-weight: normal;
      margin: 10px 0;
      margin-bottom: 20px;
    } 
}


//====================================================================================== title ▲



//====================================================================================== details ▼

.detailes-readtext {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
    @media screen and (min-width: $break-large) {
      margin-bottom: 60px;
      padding-bottom: 70px;
    } 
}

.post-meta{
  display: -webkit-box;
  overflow: hidden;
  font-family: verdana, Helvetica, verdana, sans-serif;
}

.detailes-title-post-meta {
  display: -webkit-box;
  overflow: hidden;
  font-family: verdana, Helvetica, verdana, sans-serif;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 3px double #cccccc;
    @media screen and (min-width: $break-large) {
      margin-bottom: 60px;
      padding-bottom: 60px;
    } 
}

.time {
  display: -webkit-box;
  color: $lightgray2;
  font-weight: normal;
  font-size: 14px;
    @media screen and (min-width: $break-large) {
      font-size:16px;
    } 
}

.tag {
  background-color: #bbbbbb;
  color: $white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  margin-left: 6px;
    @media screen and (min-width: $break-large) {
      font-size:12px;
      padding: 2px 5px;
    } 
}

.list_circle {
  list-style-type: circle;
  margin-left: 12%;
}

.sub-sec-title{
  margin-bottom:20px
}

.ul-lh{
  line-height: 26px;
}


//====================================================================================== details ▲






