@charset "UTF-8";
/* CSS Document */

.message {
  display: table;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
		a {
		  float: left;
		  margin: 0 10px;
		}
}

.message-table{
	margin:0 auto;
}

.message-icon{
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  text-align: center;
}

a#link-mail {
  background: url(../img/icon-sns-mail.png) 0 0 no-repeat;
  background-size: 100%;
}

a#link-mail:hover {
  background-position: left bottom;
}

a#link-fb {
  background: url(../img/icon-sns-fb.png) 0 0 no-repeat;
  background-size: 100%;
}

a#link-fb:hover {
  background-position: left bottom;
}






