@charset "UTF-8";
/* CSS Document */

.works {
  // text-align: left;
  font-family: Helvetica, verdana, sans-serif;
  font-weight: normal;
  // margin-bottom: 23px;
  // text-align:center;
  // margin:30px auto;
  text-align:center;
    a:hover {
      opacity: 0.75;
    }

    img {
      width: 140px;
      margin-bottom: 4px;
      // -webkit-border-radius: 4px;
      // -moz-border-radius: 4px;
      // border-radius: 4px;
      // margin:0;
        @media screen and (min-width: $break-large) {
          width: 190px;
        } 
    }
}

.portfolio-table{
  margin:0 auto;
}

.portfolio-table a{
  /*float:left;*/
}

.works-main{
    margin-bottom:40px;
    @media screen and (min-width: $break-large) {
        margin-bottom:10px;
    } 



 img {
  display: block;
  /*text-align: center;*/
  margin: 0 auto;
  width: 100% 100%;
  // border: 1px dotted #cccccc;
  margin-bottom: 24px;
    @media screen and (min-width: $break-large) {
      width: 500px;
    } 
  }
}

.box-left{
  @media screen and (min-width: $break-large) {
    float:left;
    width:500px;
  }
}

.works_sub {
    margin-top: 34px;
@media screen and (min-width: $break-large) {
    float:left;
    width: 280px;
    padding-left: 20px;    
    margin-top: 0;
    }
    .wrap-text{
      @media screen and (min-width: $break-large) {
        padding-left:10px;

    }
  }
}

.works ul{
　display:block;
  text-align:center;
}

.works li{
  display:inline-block;
      // text-align:left;
}

.works-table{
  text-align:left;
}

.works-meta{
  font-family: verdana, Helvetica, verdana, sans-serif;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px double #CCC;
    @media screen and (min-width: $break-large) {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
}

// .works-sub-title{
//   margin-bottom:10px;
// }

.works-sub-list{
  margin-bottom:30px;
}


