@charset "utf-8";
/* CSS Document */


//====================================================================================== font-size ▼
@mixin fs15{
	font-size:15px;
	line-height:1.5;
}

@mixin fs16{
	font-size:16px;
	line-height:1.5;
}

@mixin fs18{
	font-size:18px;
	line-height:1.3333;
}

@mixin fs20{
	font-size:20px;
	line-height: 1.2;
}

@mixin fs22{
	font-size:22px;
	line-height: 1.3333;
}

@mixin fs24{
	font-size:24px;
	line-height: 1.3333;
}

@mixin fs28{
	font-size:28px;
	line-height: 1.3333;
}

@mixin fs30{
	font-size:30px;
	line-height: 1.2;
}

@mixin fs32{
	font-size:32px;
	line-height: 1;
}

//====================================================================================== font-size ▲


//====================================================================================== menu-nav ▼
@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


//====================================================================================== menu-nav ▲


