@charset "UTF-8";
/* Slider */
/* line 44, ../scss/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 60, ../scss/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  z-index: -1;
}
/* line 68, ../scss/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 72, ../scss/slick.scss */
.slick-loading .slick-list {
  background: #fff url('/assets/img/ajax-loader.gif') center center no-repeat;
}
/* line 76, ../scss/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 82, ../scss/slick.scss */
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 92, ../scss/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
/* line 99, ../scss/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 105, ../scss/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 109, ../scss/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 113, ../scss/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 117, ../scss/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 120, ../scss/slick.scss */
.slick-slide img {
  display: block;
}
/* line 123, ../scss/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 129, ../scss/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 133, ../scss/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 137, ../scss/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 141, ../scss/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('/fonts/slick.eot');
  src: url('/fonts/slick.eot?#iefix') format("embedded-opentype"), url('/fonts/slick.woff') format("woff"), url('/fonts/slick.ttf') format("truetype"), url('/fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 164, ../scss/slick.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 180, ../scss/slick.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 184, ../scss/slick.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 0.15;
}
/* line 188, ../scss/slick.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 193, ../scss/slick.scss */
.slick-prev:before {
  background: url(../img/icon-arrow-prev2.png) 0 0 no-repeat;
}

/* line 197, ../scss/slick.scss */
.slick-next:before {
  background: url(../img/icon-arrow-next2.png) 0 0 no-repeat;
}

/* line 202, ../scss/slick.scss */
.slick-prev:before, .slick-next:before {
  background-size: 30px;
  font-size: 50px;
  line-height: 0.5;
  opacity: 0.35;
}

/* line 212, ../scss/slick.scss */
.slick-prev {
  left: -15px;
}
/* line 214, ../scss/slick.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 218, ../scss/slick.scss */
.slick-prev:before {
  content: "←";
}
/* line 220, ../scss/slick.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 225, ../scss/slick.scss */
.slick-next {
  right: -15px;
}
/* line 227, ../scss/slick.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 231, ../scss/slick.scss */
.slick-next:before {
  content: "→";
}
/* line 233, ../scss/slick.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 241, ../scss/slick.scss */
.slick-slider {
  margin-bottom: 40px;
}

/* line 245, ../scss/slick.scss */
.slick-dots {
  position: absolute;
  bottom: -10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 254, ../scss/slick.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 263, ../scss/slick.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 275, ../scss/slick.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 277, ../scss/slick.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.15;
}
/* line 282, ../scss/slick.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
}
/* line 301, ../scss/slick.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.35;
}

/* ==================== 
========================================ここから1024px幅用 =========================================
==================== */
@media screen and (min-width: 880px) {
  /* line 315, ../scss/slick.scss */
  .slick-slider {
    margin-bottom: 50px;
    width: 480px;
  }

  /* line 320, ../scss/slick.scss */
  .slick-dots {
    bottom: -40px;
  }

  /* line 323, ../scss/slick.scss */
  .slick-list {
    z-index: 1;
  }

  /* line 327, ../scss/slick.scss */
  .slick-prev, .slick-next {
    z-index: 2;
  }
}
