@charset "UTF-8";
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* line 4, ../scss/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../scss/_base.scss */
html {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans, Open Sans, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  background: #ffffff;
  text-decoration: none;
  color: #666666;
  -webkit-text-size-adjust: none;
}
@media screen and (min-width: 800px) {
  /* line 9, ../scss/_base.scss */
  html {
    font-size: 15px;
    line-height: 1.5;
  }
}

/* line 22, ../scss/_base.scss */
html, body {
  height: 100%;
}

@font-face {
  font-family: 'JosefinSansStd-Light';
  src: url("../font/JosefinSansStd-Light/JosefinSansStd-Light.eot");
  src: url("../font/JosefinSansStd-Light/JosefinSansStd-Light.eot?iefix") format("eot"), url("../font/JosefinSansStd-Light/JosefinSansStd-Light.woff") format("woff"), url("../font/JosefinSansStd-Light/JosefinSansStd-Light.ttf") format("truetype"), url("../font/JosefinSansStd-Light/JosefinSansStd-Light.svg#webfontjSpbZQRv") format("svg");
}
@font-face {
  font-family: 'Josefin-Sans';
  src: url("../font/webfonts_Josefin-Sans/Josefin-Sans.ttf.woff") format("woff"), url("../font/webfonts_Josefin-Sans/Josefin-Sans.ttf.svg#Josefin-Sans") format("svg"), url("../font/webfonts_Josefin-Sans/Josefin-Sans.ttf.eot"), url("../font/webfonts_Josefin-Sans/Josefin-Sans.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 39, ../scss/_base.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 44, ../scss/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 48, ../scss/_base.scss */
a:-webkit-any-link {
  text-decoration: none;
}

/* line 52, ../scss/_base.scss */
ul, ol {
  list-style: none;
}

/* line 56, ../scss/_base.scss */
img {
  vertical-align: top;
  max-width: 100%;
  border: 0;
  display: block;
  margin: 0 auto;
}

/* line 64, ../scss/_base.scss */
p {
  line-height: 26px;
}

/* line 68, ../scss/_base.scss */
#wrap {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* line 75, ../scss/_base.scss */
.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}

/* CSS Document */
/* line 5, ../scss/_common.scss */
header {
  padding: 16px 0;
  height: 37px;
}
@media screen and (min-width: 800px) {
  /* line 5, ../scss/_common.scss */
  header {
    padding: 21px 0;
    margin: 0 auto;
    height: 50px;
    /*border-bottom: solid 1px #cacccd;*/
  }
}
/* line 15, ../scss/_common.scss */
header img {
  width: 150px;
  padding-top: 0px;
}
@media screen and (min-width: 800px) {
  /* line 15, ../scss/_common.scss */
  header img {
    margin: 0;
  }
}

/* line 24, ../scss/_common.scss */
.sticky-wrapper {
  /*background: $white;*/
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  overflow: hidden;
  /*border-bottom: solid 1px #cacccd;*/
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  /* line 24, ../scss/_common.scss */
  .sticky-wrapper {
    padding: 16px 40px;
    /*width: 800px;*/
  }
}

/* line 44, ../scss/_common.scss */
#mobile-nav {
  display: block;
  float: right;
  padding: 17px;
}

/* line 52, ../scss/_common.scss */
.menu-nav {
  display: block;
  background: url(../img/icon_menu.png) 0 0 no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  margin-top: 4px;
  /*margin: 22px 0 0 0;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 250ms ease-out 0s;
  -moz-transition: -moz-transform 250ms ease-out 0s;
  -o-transition: -o-transform 250ms ease-out 0s;
  transition: transform 250ms ease-out 0s;
}

/* line 71, ../scss/_common.scss */
.change {
  background: url(../img/icon_close.png) 0 0 no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  display: block;
}

/* line 79, ../scss/_common.scss */
.drawer {
  display: none;
  -webkit-transition: -webkit-transform 0.25s linear;
  -moz-transition: -moz-transform 0.25s linear;
  -o-transition: -o-transform 0.25s linear;
  transition: transform 0.25s linear;
}

/* line 94, ../scss/_common.scss */
.drawer a:hover {
  color: #cccccc;
  background-color: #333333;
}

/* line 99, ../scss/_common.scss */
.active {
  display: block;
}

/* line 116, ../scss/_common.scss */
nav {
  margin-top: 10px;
}
/* line 121, ../scss/_common.scss */
nav ul {
  list-style: none;
  overflow: hidden;
}
/* line 124, ../scss/_common.scss */
nav ul li {
  color: #000;
  width: auto;
  margin-left: 20px;
  float: left;
}
@media screen and (min-width: 800px) {
  /* line 124, ../scss/_common.scss */
  nav ul li {
    margin-left: 40px;
  }
}
/* line 132, ../scss/_common.scss */
nav ul li a {
  display: block;
  text-decoration: none;
  /*background: black;*/
  color: #ffffff;
  font-size: 1.0em;
  padding: 10px 0;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.25);*/
  font-family: 'Josefin Sans', 'Josefin-Sans', sans-serif;
  text-align: center;
  /*background: white;*/
  color: #000000;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: right;
  font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
}

/* line 155, ../scss/_common.scss */
.clk_head_top {
  font-size: 16px;
  line-height: 1.5;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 5%;
  margin: 0;
}
/* line 161, ../scss/_common.scss */
.clk_head_top a {
  display: block;
  padding: 16px 0;
}
@media screen and (min-width: 800px) {
  /* line 161, ../scss/_common.scss */
  .clk_head_top a {
    font-size: 20px;
    line-height: 1.2;
    padding: 0;
    margin: 16px 0;
  }
}

/* line 175, ../scss/_common.scss */
.spNone {
  display: none;
}
@media screen and (min-width: 800px) {
  /* line 175, ../scss/_common.scss */
  .spNone {
    display: block;
    color: #454545;
  }
}

/* line 183, ../scss/_common.scss */
.right-align {
  float: right;
  height: 0;
}

@media screen and (min-width: 800px) {
  /* line 190, ../scss/_common.scss */
  img {
    transition: 0.15s;
  }

  /* line 194, ../scss/_common.scss */
  header a {
    transition: 0.15s;
  }

  /* line 199, ../scss/_common.scss */
  .works img:hover {
    opacity: 0.5;
  }

  /* line 203, ../scss/_common.scss */
  header a:hover {
    opacity: 0.5;
  }

  /* line 207, ../scss/_common.scss */
  .right-align a:hover .font-portfolio {
    color: #ff4a2c;
    height: 0;
  }

  /* line 212, ../scss/_common.scss */
  .right-align a:hover .font-memo {
    color: #45c01b;
    height: 0;
  }

  /* line 217, ../scss/_common.scss */
  .right-align a:hover .font-about {
    color: #4568b8;
    height: 0;
  }

  /* line 222, ../scss/_common.scss */
  .right-align a:hover .font-contact {
    color: #edc42f;
    height: 0;
  }

  /* line 227, ../scss/_common.scss */
  .drawer, .pcNone {
    display: none;
  }
}
/* line 237, ../scss/_common.scss */
footer {
  margin-top: 100px;
  padding: 20px 0;
  /*color: $white;*/
  text-align: center;
  /*background-color: $gray;*/
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 260, ../scss/_common.scss */
.padding-t30 {
  padding-top: 30px;
}

/* line 264, ../scss/_common.scss */
.padding-t60 {
  padding-top: 60px;
}

/* line 268, ../scss/_common.scss */
.margin-sm-t30 {
  margin-top: 30px;
}

/* line 274, ../scss/_common.scss */
.margin-t20 {
  margin-top: 20px;
}

/* line 278, ../scss/_common.scss */
.about-title {
  margin: 20px 0;
}

/* line 282, ../scss/_common.scss */
.margin-b4 {
  margin-bottom: 4px;
}

/* line 286, ../scss/_common.scss */
.margin-b10 {
  margin-bottom: 10px;
}

/* line 290, ../scss/_common.scss */
.margin-b20 {
  margin-bottom: 20px;
}

/* line 295, ../scss/_common.scss */
.margin-b40 {
  margin-bottom: 40px;
}

/* line 299, ../scss/_common.scss */
.margin-b120 {
  margin-bottom: 120px;
}

/* line 304, ../scss/_common.scss */
.margin-sm-b40 {
  margin-bottom: 40px;
}

/* line 308, ../scss/_common.scss */
.margin-about-title {
  margin-top: 20px;
}
@media screen and (min-width: 800px) {
  /* line 308, ../scss/_common.scss */
  .margin-about-title {
    margin-top: 20px;
  }
}

@media screen and (min-width: 800px) {
  /* line 317, ../scss/_common.scss */
  .margin-lg-b40 {
    margin-bottom: 10px;
  }

  /* line 321, ../scss/_common.scss */
  .margin-b45 {
    margin-bottom: 45px;
  }
}
/* line 330, ../scss/_common.scss */
.border-t1 {
  border-top: 1px dotted #cccccc;
}

/* line 334, ../scss/_common.scss */
.border-b1 {
  border-bottom: 1px dotted #cccccc;
}

/* line 338, ../scss/_common.scss */
.border-b3 {
  border-bottom: 3px double #cccccc;
}

/* line 342, ../scss/_common.scss */
.border-l1 {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

/* line 352, ../scss/_common.scss */
.box {
  margin-top: 40px;
}
@media screen and (min-width: 800px) {
  /* line 352, ../scss/_common.scss */
  .box {
    margin-top: 60px;
  }
}

/* line 362, ../scss/_common.scss */
.f-red {
  color: #c11414;
}

/* line 367, ../scss/_common.scss */
.f-bold {
  font-weight: bold;
}

/* line 372, ../scss/_common.scss */
.fs18 {
  font-size: 18px;
  line-height: 1.3333;
}

/* line 377, ../scss/_common.scss */
.t-center {
  text-align: center;
}

/* line 387, ../scss/_common.scss */
#contents {
  /*width: 90%;*/
  margin: 0 auto;
  padding-bottom: 100px;
}
@media screen and (min-width: 800px) {
  /* line 387, ../scss/_common.scss */
  #contents {
    /*width: 900px;*/
  }
}
/* line 394, ../scss/_common.scss */
#contents .element:last-child {
  /*padding-bottom: 0px;
  margin-bottom: 0px;*/
}
/* line 398, ../scss/_common.scss */
#contents .element-sec:last-child {
  padding-bottom: 0px;
}

/* line 403, ../scss/_common.scss */
.element {
  /*font-family: verdana, Helvetica, verdana, sans-serif;*/
  font-weight: normal;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 800px) {
  /* line 403, ../scss/_common.scss */
  .element {
    width: 900px;
  }
}

/* line 415, ../scss/_common.scss */
.element-sec {
  padding-bottom: 30px;
}
@media screen and (min-width: 800px) {
  /* line 415, ../scss/_common.scss */
  .element-sec {
    padding-bottom: 40px;
  }
}

/* line 422, ../scss/_common.scss */
.contents-bk {
  background-color: #E8F7F5;
  padding-top: 60px;
}

/* line 427, ../scss/_common.scss */
.top-image {
  position: relative;
  top: -70px;
}
@media screen and (min-width: 800px) {
  /* line 427, ../scss/_common.scss */
  .top-image {
    position: relative;
    top: -100px;
  }
}

/* line 439, ../scss/_common.scss */
.name-title {
  font-size: 32px;
  line-height: 1;
  color: #383838;
  margin: 28px 0 23px;
  text-align: center;
  font-weight: normal;
  font-family: 'Josefin Sans', 'Josefin-Sans', sans-serif;
}
/* line 446, ../scss/_common.scss */
.name-title .name-title-explain {
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 800px) {
  /* line 439, ../scss/_common.scss */
  .name-title {
    font-size: 42px;
    font-weight: normal;
    margin-top: 120px;
    margin-bottom: 120px;
    color: #000000;
    font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
  }
}

/* line 460, ../scss/_common.scss */
.sec-title {
  font-size: 28px;
  line-height: 1.3333;
  color: #383838;
  margin: 28px 0 23px;
  text-align: center;
  font-weight: normal;
  font-family: 'Josefin Sans', 'Josefin-Sans', sans-serif;
}
/* line 467, ../scss/_common.scss */
.sec-title .name-title-explain {
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 800px) {
  /* line 460, ../scss/_common.scss */
  .sec-title {
    font-size: 32px;
    font-weight: normal;
    /*margin-top: 120px;*/
    margin-bottom: 60px;
    color: #000000;
    font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
  }
}

/* line 481, ../scss/_common.scss */
.sec-title-sub {
  font-size: 16px;
  color: #666666;
}

/* line 487, ../scss/_common.scss */
.category-title {
  font-size: 28px;
  line-height: 1.3333;
  color: #383838;
  margin: 28px 0 23px;
  text-align: center;
}
/* line 492, ../scss/_common.scss */
.category-title .category-title-explain {
  font-size: 18px;
  line-height: 1.3333;
}
@media screen and (min-width: 800px) {
  /* line 487, ../scss/_common.scss */
  .category-title {
    font-size: 42px;
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #000000;
  }
}

/* line 506, ../scss/_common.scss */
.memo-details-title {
  font-weight: bold;
  /*margin-left:15px;*/
  font-size: 22px;
  line-height: 1.3333;
  margin-bottom: 0;
  color: #454545;
  margin-bottom: 8px;
}
@media screen and (min-width: 800px) {
  /* line 506, ../scss/_common.scss */
  .memo-details-title {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 18px;
  }
}

/*.sec-title {
  @include fs20;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Arial;
  font-weight: bold;
  color: $gray;
  margin-bottom:4px;
    @media screen and (min-width: $break-large) {
      @include fs24;
      font-weight: normal;
      margin: 10px 0;
      margin-bottom: 20px;
    } 
}*/
/* line 535, ../scss/_common.scss */
.div-title {
  font-size: 18px;
  line-height: 1.3333;
  margin-bottom: 15px;
}
@media screen and (min-width: 800px) {
  /* line 535, ../scss/_common.scss */
  .div-title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 30px 0 5px 0;
    /*margin-bottom: 20px;*/
  }
}

/* line 546, ../scss/_common.scss */
.group-title {
  font-size: 22px;
  text-align: center;
  font-weight: normal;
  /*font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;*/
  margin-top: 160px;
  margin-bottom: 20px;
}

/* line 555, ../scss/_common.scss */
.link-title {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
  /*margin-top: 100px;*/
  margin-bottom: 20px;
}

/* line 571, ../scss/_common.scss */
.detailes-readtext {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 800px) {
  /* line 571, ../scss/_common.scss */
  .detailes-readtext {
    margin-bottom: 60px;
    padding-bottom: 70px;
  }
}

/* line 581, ../scss/_common.scss */
.post-meta {
  display: -webkit-box;
  overflow: hidden;
  font-family: verdana, Helvetica, verdana, sans-serif;
}

/* line 587, ../scss/_common.scss */
.detailes-title-post-meta {
  display: -webkit-box;
  overflow: hidden;
  font-family: verdana, Helvetica, verdana, sans-serif;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 3px double #cccccc;
}
@media screen and (min-width: 800px) {
  /* line 587, ../scss/_common.scss */
  .detailes-title-post-meta {
    margin-bottom: 60px;
    padding-bottom: 60px;
  }
}

/* line 600, ../scss/_common.scss */
.time {
  display: -webkit-box;
  color: #666666;
  font-weight: normal;
  font-size: 14px;
}
@media screen and (min-width: 800px) {
  /* line 600, ../scss/_common.scss */
  .time {
    font-size: 16px;
  }
}

/* line 610, ../scss/_common.scss */
.tag {
  background-color: #bbbbbb;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  margin-left: 6px;
}
@media screen and (min-width: 800px) {
  /* line 610, ../scss/_common.scss */
  .tag {
    font-size: 12px;
    padding: 2px 5px;
  }
}

/* line 623, ../scss/_common.scss */
.list_circle {
  list-style-type: circle;
  margin-left: 12%;
}

/* line 628, ../scss/_common.scss */
.list_leftalign p {
  text-align: left;
}

/* line 632, ../scss/_common.scss */
.sub-sec-title {
  margin-bottom: 20px;
}

/* line 636, ../scss/_common.scss */
.ul-lh {
  line-height: 26px;
}

/* line 640, ../scss/_common.scss */
.img_change {
  width: 100%;
  float: left;
}
@media screen and (min-width: 800px) {
  /* line 640, ../scss/_common.scss */
  .img_change {
    width: 50%;
  }
}

/* CSS Document */
/* line 4, ../scss/_home.scss */
.works {
  font-family: Helvetica, verdana, sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}
/* line 13, ../scss/_home.scss */
.works a:hover {
  opacity: 0.75;
}
/* line 17, ../scss/_home.scss */
.works img {
  width: 100%;
  margin-bottom: 4px;
}
@media screen and (min-width: 800px) {
  /* line 17, ../scss/_home.scss */
  .works img {
    /*margin-right: 20px;*/
  }
}

/* line 31, ../scss/_home.scss */
.works li {
  margin: 0 25px 50px 25px;
}

/* line 36, ../scss/_home.scss */
.about, .about-team {
  font-family: Helvetica, verdana, sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 46, ../scss/_home.scss */
.about a:hover, .about-team a:hover {
  opacity: 0.75;
}
/* line 50, ../scss/_home.scss */
.about img, .about-team img {
  width: 140px;
  margin-bottom: 30px;
}
@media screen and (min-width: 800px) {
  /* line 50, ../scss/_home.scss */
  .about img, .about-team img {
    width: 110px;
    /*margin-right: 20px;*/
  }
}

/* line 64, ../scss/_home.scss */
.about li {
  width: 255px;
  /*height: 500px;*/
  vertical-align: top;
  margin: 0 20px;
}

/* line 71, ../scss/_home.scss */
.about-team ul {
  margin-bottom: 40px;
}

/* line 75, ../scss/_home.scss */
.about-team li {
  margin: 20px 0;
  vertical-align: top;
}
@media screen and (min-width: 800px) {
  /* line 75, ../scss/_home.scss */
  .about-team li {
    width: 405px;
    margin: 20px 20px;
  }
}

/* line 84, ../scss/_home.scss */
.about-number {
  font-size: 30px;
  font-family: 'Josefin-Sans', JosefinSansStd-Light, 'Josefin Sans', sans-serif;
  margin: 0 10px 10px 0;
  display: inline-block;
}

/* line 91, ../scss/_home.scss */
.portfolio-table {
  margin: 0 auto;
  width: 80%;
}

/* line 96, ../scss/_home.scss */
.portfolio-table a {
  /*float:left;*/
}

/* line 101, ../scss/_home.scss */
.works-main {
  margin-bottom: 40px;
}
@media screen and (min-width: 800px) {
  /* line 101, ../scss/_home.scss */
  .works-main {
    margin-bottom: 10px;
  }
}
/* line 109, ../scss/_home.scss */
.works-main img {
  display: block;
  /*text-align: center;*/
  margin: 0 auto;
  width: 100% 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 800px) {
  /* line 109, ../scss/_home.scss */
  .works-main img {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  /* line 122, ../scss/_home.scss */
  .box-left {
    float: left;
    width: 500px;
  }
}

/* line 129, ../scss/_home.scss */
.works_sub {
  margin-top: 34px;
}
@media screen and (min-width: 800px) {
  /* line 129, ../scss/_home.scss */
  .works_sub {
    float: left;
    width: 280px;
    padding-left: 20px;
    margin-top: 0;
  }
}
@media screen and (min-width: 800px) {
  /* line 137, ../scss/_home.scss */
  .works_sub .wrap-text {
    padding-left: 10px;
  }
}

/* line 145, ../scss/_home.scss */
.works ul, .about ul, .about-team li {
  　display: block;
  text-align: center;
}

/* line 150, ../scss/_home.scss */
.works li, .about li, .about-team li {
  display: inline-block;
}

/* line 155, ../scss/_home.scss */
.works-table {
  text-align: left;
}

/* line 159, ../scss/_home.scss */
.works-meta {
  font-family: verdana, Helvetica, verdana, sans-serif;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px double #CCC;
}
@media screen and (min-width: 800px) {
  /* line 159, ../scss/_home.scss */
  .works-meta {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

/* line 174, ../scss/_home.scss */
.works-sub-list {
  margin-bottom: 30px;
}

/* CSS Document */
/* line 5, ../scss/_memo.scss */
.memo-list {
  border-bottom: 3px double #cccccc;
}
/* line 7, ../scss/_memo.scss */
.memo-list .memo_line a:hover {
  opacity: 0.75;
}
/* line 10, ../scss/_memo.scss */
.memo-list a:hover {
  opacity: 0.75;
}
/* line 13, ../scss/_memo.scss */
.memo-list img {
  width: 95px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0px;
}
@media screen and (min-width: 800px) {
  /* line 13, ../scss/_memo.scss */
  .memo-list img {
    width: 200px;
  }
}

/* line 26, ../scss/_memo.scss */
.memo-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  font-family: Helvetica, verdana, sans-serif;
  font-weight: normal;
}

/* line 34, ../scss/_memo.scss */
.memo-link {
  margin: 23px 0;
  display: block;
}
@media screen and (min-width: 800px) {
  /* line 34, ../scss/_memo.scss */
  .memo-link {
    margin: 60px 0;
  }
}

/* line 43, ../scss/_memo.scss */
.memo-right {
  width: 70%;
  margin-left: 4%;
}

/* line 53, ../scss/_memo.scss */
.memo-details-titleBox {
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 30px;
}
@media screen and (min-width: 800px) {
  /* line 53, ../scss/_memo.scss */
  .memo-details-titleBox {
    margin: 60px 0;
  }
}

/* line 63, ../scss/_memo.scss */
.image-01 img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 69, ../scss/_memo.scss */
.button-sam {
  margin-bottom: 10px;
}
@media screen and (min-width: 800px) {
  /* line 69, ../scss/_memo.scss */
  .button-sam {
    margin-bottom: 20px;
  }
}

/* line 9, memo_test.scss */
/* line 77, ../scss/_memo.scss */
.button-sam span {
  padding: 7px 11px 8px 11px;
  margin: 0 5px 5px 5px;
  background: #EFF0F2;
  border-radius: 4px;
  /*border-top: 1px solid whitesmoke;*/
  box-shadow: 0 0 25px #d9d9d9 inset, 0 1px 0 #cccccc, 0 2px 0 #d6d6d6, 0 2px 1px #555555;
  color: #4d4d4d;
  text-shadow: 0 1px 0 #ffffff;
  font: bold 14px arial;
  text-align: center;
  /*line-height: 1;*/
  font-weight: normal;
  display: -moz-inline-stack;
  display: inline-block;
  /*vertical-align: middle;*/
  zoom: 1;
  font-family: verdana, Helvetica, verdana, sans-serif;
}

/* line 97, ../scss/_memo.scss */
.memo-text {
  color: #333333;
  font-weight: normal;
  line-height: 26px;
  overflow: hidden;
  font-family: verdana, Helvetica, verdana, sans-serif;
}

/* line 105, ../scss/_memo.scss */
.memo-sam img {
  width: 48%;
  margin-bottom: 20px;
}

/* line 110, ../scss/_memo.scss */
.memo-list-text {
  margin-bottom: 14px;
}

/* CSS Document */
/* line 6, ../scss/_about.scss */
.profile-table {
  display: table;
  font-weight: normal;
  line-height: 26px;
  overflow: hidden;
  margin-top: 20px;
  font-family: verdana, Helvetica, verdana, sans-serif;
}
/* line 13, ../scss/_about.scss */
.profile-table .blue {
  display: table-cell;
  color: #4568B8;
  width: 80px;
}
/* line 18, ../scss/_about.scss */
.profile-table ul {
  margin-left: 80px;
}
/* line 22, ../scss/_about.scss */
.profile-table li:after {
  content: ", ";
}
/* line 25, ../scss/_about.scss */
.profile-table li:last-child:after {
  content: "";
}
@media screen and (min-width: 800px) {
  /* line 21, ../scss/_about.scss */
  .profile-table li {
    display: inline;
  }
}

/* line 34, ../scss/_about.scss */
.profile-img {
  text-align: center;
  margin-top: 60px;
}
/* line 37, ../scss/_about.scss */
.profile-img img {
  width: 220px;
  border-radius: 300px;
}

/* line 43, ../scss/_about.scss */
.icon-skill {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* line 48, ../scss/_about.scss */
.icon-skill img {
  width: 65px;
  height: 65px;
  margin-bottom: 24px;
}

/* line 55, ../scss/_about.scss */
.timeline > li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

/* line 61, ../scss/_about.scss */
.timeline-date {
  width: 380px;
  float: left;
}
@media screen and (min-width: 800px) {
  /* line 61, ../scss/_about.scss */
  .timeline-date {
    margin-top: 20px;
  }
}

/* line 69, ../scss/_about.scss */
.timeline-content {
  /*width: 75%;*/
  float: left;
  border-left: 3px #e9ebf0 solid;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-left: 5px;
}

/* line 78, ../scss/_about.scss */
.timeline-content:before {
  content: '';
  width: 12px;
  height: 12px;
  background: #4568B8;
  position: absolute;
  left: 0px;
  top: 24px;
  border-radius: 100%;
}

/*// .timeline-content h4 {
//   margin-bottom: 10px;
// }

// .timeline-time {
//   margin-bottom: 10px;
// }*/
/* line 102, ../scss/_about.scss */
.timeline .timeline-date p {
  margin-bottom: 0;
}

/* line 106, ../scss/_about.scss */
.profile-box-right {
  margin-top: 34px;
}
@media screen and (min-width: 800px) {
  /* line 106, ../scss/_about.scss */
  .profile-box-right {
    display: table-cell;
    width: 520px;
    padding-left: 50px;
    margin-top: 0;
  }
}

@media screen and (min-width: 800px) {
  /* line 118, ../scss/_about.scss */
  .profile-box {
    display: table;
  }

  /* line 123, ../scss/_about.scss */
  .profile-box-left {
    /*    width: 350px;
    */
  }

  /* line 127, ../scss/_about.scss */
  .timeline .timeline-date p {
    margin-bottom: 0;
  }
}
/* line 132, ../scss/_about.scss */
.border-b-about {
  border-bottom: 1px dotted #cccccc;
}
@media screen and (min-width: 800px) {
  /* line 132, ../scss/_about.scss */
  .border-b-about {
    border: none;
  }
}

/* line 139, ../scss/_about.scss */
.skill-chart {
  width: 300px;
}

/* CSS Document */
/* line 4, ../scss/_contact.scss */
.message {
  display: table;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
/* line 10, ../scss/_contact.scss */
.message a {
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_contact.scss */
.message-table {
  margin: 0 auto;
}

/* line 20, ../scss/_contact.scss */
.message-icon {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  text-align: center;
}

/* line 28, ../scss/_contact.scss */
a#link-mail {
  background: url(../img/icon-sns-mail.png) 0 0 no-repeat;
  background-size: 100%;
}

/* line 33, ../scss/_contact.scss */
a#link-mail:hover {
  background-position: left bottom;
}

/* line 37, ../scss/_contact.scss */
a#link-fb {
  background: url(../img/icon-sns-fb.png) 0 0 no-repeat;
  background-size: 100%;
}

/* line 42, ../scss/_contact.scss */
a#link-fb:hover {
  background-position: left bottom;
}

/* line 46, ../scss/_contact.scss */
a#link-note {
  background: url(../img/icon-sns-note.png) 0 0 no-repeat;
  background-size: 100%;
}

/* line 51, ../scss/_contact.scss */
a#link-note:hover {
  background-position: left bottom;
}
